@import '../../Sass/mixin';

@keyframes leftToRight{
    from {left: 70vw;}
}
.skillsButtonHolder{
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    background-color: white;
}
.skillsType{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}
.skillsNavButtons{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}
// Languages Tab
.javaHolder{
    @include techBox();
    left: 10vw;
    animation-name: leftToRight;
    animation-duration: 1s;
}
.java{
    font-family: cursive;
    font-size: 90px;
}
.htmlHolder{
    @include techBox();
    left: 30vw;
}
.html{
    font-family: cursive;
    font-size: 78px;
}
.jsHolder{
    @include techBox();
    left: 50vw;
}
.js{
    font-family: cursive;
    font-size: 78px;
}
.cssHolder{
    @include techBox();
    left: 20vw;
}
.css{
    font-family: cursive;
    font-size: 78px;
}